<% if page.current? %>
  <li class='active'>
    <%= content_tag :a, page, data: { remote: remote }, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)), class: "item-pagination flex-c-m trans-0-4 active-pagination",style: "color: white;" %>
  </li>
<% else %>
  <li>
    <%= link_to page, url, remote: remote, rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)), class: "item-pagination flex-c-m trans-0-4" %>
  </li>
<% end %>
