.sign-up{
    margin-bottom: 30px;
    padding-left: 15%;
    padding-right: 15%;
}

.btn-signup{
    margin-bottom: 10px;
}

.btn-signup input:hover{
    background-color: #28a745 !important;
    color: white;
}
a.logo{
    color: #bcaaa4;
}
a.logo:hover {
    text-decoration: none;
    color: #3e2723;
}

a.logo-mobile{
    color: #bcaaa4;
}
a.logo-mobile:hover {
    text-decoration: none;
    color: #3e2723;
}


.paginate_f{
    margin-top: 13px;
    margin-left: 10px;
}
