// Place all the styles related to the Categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.modify-link{
  font-family: Montserrat-Regular;
  font-size: 15px;
  color: #333333;
  padding: 0;
  border-bottom: 1px solid transparent;
}